@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --black: #000;
  --white: #FFF;
  --red: #EB2A48;
  --blue: #71C7FF;
  --green: #62AA2A;
  --light-green: #88DF45;
  --pink: #FF4487;

  --brutal-border-color: var(--black);
  --brutal-shadow-color: var(--brutal-border-color);
  --brutal-border-size: .2rem;
  --brutal-shadow-size: .25rem;
  --brutal-border: var(--brutal-border-size) solid var(--brutal-border-color);
  --brutal-shadow: var(--brutal-shadow-size) var(--brutal-shadow-size) var(--brutal-shadow-color);

  --text-border-color: var(--black);
  --text-border-size: .2rem;
}

html, body, #__nuxt {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  -webkit-tap-highlight-color: transparent;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

div {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
} 

.font-itim {
  font-family: 'Itim', cursive;
}